.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
}


/* Logo styles */
.logo img {
    width: 145px;
    height: auto;
}

/* Navbar links styles */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover,
nav ul li .dropdown-content a:hover {
    background-color: goldenrod;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #158f5e;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
